* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Alex Brush';font-size: 22px;

  color: black;
  background-color: rgb(61, 61, 50);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid rgb(109, 109, 172) 5px;
  background-color: hsl(0, 0%, 71%)
  font-family:black;
} 

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border:#f5f104
  text-align: center;
  text-decoration: none;
  color: #2c09ee;
}

nav a[aria-current='page'] {
  color: #b3b15a;
  background-color
}

main {
  padding: 1rem;
}

h1 { 
  margin-top: 0dvb;
  text-align: center;
  text-transform: uppercase;
  color :rgb(240, 229, 229);
  font-weight: fantasy;
  font-size: 3rem;
}

h2 { 
  color :antiquewhite;
  font-weigh: "Alex Brush";font-size: 22px;

  font-size: 1.5rem;
}
