* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: brush Script MT, arial, sans-serif;
  color: black;
  background-color: rgb(5, 5, 5);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid rgb(104, 104, 129) 5px;
  background-color:rgb(236, 225, 225);
  font-family:black;
} 

nav a {
  display:inline-flexbox;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border:#f5f104
  text-align: center;
  text-decoration::backdrop
  color: #2c09ee;
}

nav a[aria-current='page'] {
  color: #f5f104;
  background-color
}

main {
  padding: 2rem;
}

h1 { 
  margin:0vmin;
  text-align:unset;
  text-transform::-webkit-search-decoration;
  color: #f5f104;
  font-weight: fantasy;
  font-size: 8rem;
}

h2 { 
  color :rgb(182, 190, 59);
  font-weight: cursive;
  font-size:3rem;
}
p {
  color:red;
  font-weight: cursive;
  font-size:2rem;
} 

 img {
  width: 100%;
  height: auto;
  opacity: 1.0;
}
.container {
  position: absolute;
}

.topright {
  position: absolute;
  top: 3px;
  right: 16px;
  font-size: 18px;
}

img { 
  width: 100%;
  height: auto;
  opacity: 1.0;
}
}
